[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
pydantic = "*"
pyjwt = "*"
httpx = "*"
xmltodict = "*"
uvicorn = {extras = ["standard"], version = "*"}
fhirclient = "~=3.0.0"
redis = "*"

[dev-packages]
black = "*"
websockets = "*"
pre-commit = "*"
isort = "*"

[requires]
python_version = "3.10"
