[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
requests-oauthlib = "*"
beautifulsoup4 = "*"
pydantic = "*"
pyjwt = "*"
httpx = "*"
fhirclient = "3.0.0"

[dev-packages]
black = "*"

[requires]
python_version = "3.9"
